@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(107, 129, 140, 1);
  --base-bold-font-family: "Inter", Helvetica;
  --base-bold-font-size: 18px;
  --base-bold-font-style: normal;
  --base-bold-font-weight: 700;
  --base-bold-letter-spacing: 0px;
  --base-bold-line-height: 139.9999976158142%;
  --base-medium-font-family: "Inter", Helvetica;
  --base-medium-font-size: 18px;
  --base-medium-font-style: normal;
  --base-medium-font-weight: 500;
  --base-medium-letter-spacing: 0px;
  --base-medium-line-height: 139.9999976158142%;
  --base-semibold-font-family: "Inter", Helvetica;
  --base-semibold-font-size: 18px;
  --base-semibold-font-style: normal;
  --base-semibold-font-weight: 600;
  --base-semibold-letter-spacing: 0px;
  --base-semibold-line-height: 139.9999976158142%;
  --body-medium-font-family: "Inter", Helvetica;
  --body-medium-font-size: 14px;
  --body-medium-font-style: normal;
  --body-medium-font-weight: 500;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 129.99999523162842%;
  --body-regular-font-family: "Inter", Helvetica;
  --body-regular-font-size: 14px;
  --body-regular-font-style: normal;
  --body-regular-font-weight: 400;
  --body-regular-letter-spacing: 0px;
  --body-regular-line-height: 139.9999976158142%;
  --body-semibold-font-family: "Inter", Helvetica;
  --body-semibold-font-size: 14px;
  --body-semibold-font-style: normal;
  --body-semibold-font-weight: 600;
  --body-semibold-letter-spacing: 0px;
  --body-semibold-line-height: 129.99999523162842%;
  --extra-small-font-family: "Inter", Helvetica;
  --extra-small-font-size: 6px;
  --extra-small-font-style: normal;
  --extra-small-font-weight: 400;
  --extra-small-letter-spacing: 0px;
  --extra-small-line-height: 129.99999523162842%;
  --h1-bold-font-family: "Inter", Helvetica;
  --h1-bold-font-size: 30px;
  --h1-bold-font-style: normal;
  --h1-bold-font-weight: 700;
  --h1-bold-letter-spacing: -1px;
  --h1-bold-line-height: 139.9999976158142%;
  --h2-bold-font-family: "Inter", Helvetica;
  --h2-bold-font-size: 24px;
  --h2-bold-font-style: normal;
  --h2-bold-font-weight: 700;
  --h2-bold-letter-spacing: 0px;
  --h2-bold-line-height: 129.99999523162842%;
  --h2-semibold-font-family: "Inter", Helvetica;
  --h2-semibold-font-size: 24px;
  --h2-semibold-font-style: normal;
  --h2-semibold-font-weight: 600;
  --h2-semibold-letter-spacing: 0px;
  --h2-semibold-line-height: 129.99999523162842%;
  --h3-bold-font-family: "Inter", Helvetica;
  --h3-bold-font-size: 20px;
  --h3-bold-font-style: normal;
  --h3-bold-font-weight: 700;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: 129.99999523162842%;
  --h3-semibold-font-family: "Inter", Helvetica;
  --h3-semibold-font-size: 20px;
  --h3-semibold-font-style: normal;
  --h3-semibold-font-weight: 600;
  --h3-semibold-letter-spacing: 0px;
  --h3-semibold-line-height: 150%;
  --light-primary: rgba(255, 255, 255, 1);
  --light-secondary: rgba(208, 228, 229, 1);
  --paragraph-medium-font-family: "Inter", Helvetica;
  --paragraph-medium-font-size: 16px;
  --paragraph-medium-font-style: normal;
  --paragraph-medium-font-weight: 500;
  --paragraph-medium-letter-spacing: 0px;
  --paragraph-medium-line-height: 139.9999976158142%;
  --paragraph-regular-font-family: "Inter", Helvetica;
  --paragraph-regular-font-size: 16px;
  --paragraph-regular-font-style: normal;
  --paragraph-regular-font-weight: 400;
  --paragraph-regular-letter-spacing: 0px;
  --paragraph-regular-line-height: 139.9999976158142%;
  --paragraph-semibold-font-family: "Inter", Helvetica;
  --paragraph-semibold-font-size: 16px;
  --paragraph-semibold-font-style: normal;
  --paragraph-semibold-font-weight: 600;
  --paragraph-semibold-letter-spacing: 0px;
  --paragraph-semibold-line-height: 129.99999523162842%;
  --primary: rgba(7, 245, 236, 1);
  --primary-button: rgba(32, 29, 48, 1);
  --secondary: rgba(96, 199, 198, 1);
  --small-medium-font-family: "Inter", Helvetica;
  --small-medium-font-size: 12px;
  --small-medium-font-style: normal;
  --small-medium-font-weight: 500;
  --small-medium-letter-spacing: 0px;
  --small-medium-line-height: 129.99999523162842%;
  --small-regular-font-family: "Inter", Helvetica;
  --small-regular-font-size: 12px;
  --small-regular-font-style: normal;
  --small-regular-font-weight: 400;
  --small-regular-letter-spacing: 0px;
  --small-regular-line-height: 129.99999523162842%;
  --small-semibold-font-family: "Inter", Helvetica;
  --small-semibold-font-size: 12px;
  --small-semibold-font-style: normal;
  --small-semibold-font-weight: 600;
  --small-semibold-letter-spacing: 0px;
  --small-semibold-line-height: 129.99999523162842%;
  --subtle-medium-font-family: "Inter", Helvetica;
  --subtle-medium-font-size: 10px;
  --subtle-medium-font-style: normal;
  --subtle-medium-font-weight: 500;
  --subtle-medium-letter-spacing: 0px;
  --subtle-medium-line-height: 129.99999523162842%;
  --subtle-regular-font-family: "Inter", Helvetica;
  --subtle-regular-font-size: 10px;
  --subtle-regular-font-style: normal;
  --subtle-regular-font-weight: 400;
  --subtle-regular-letter-spacing: 0px;
  --subtle-regular-line-height: 129.99999523162842%;
  --subtle-semibold-font-family: "Inter", Helvetica;
  --subtle-semibold-font-size: 10px;
  --subtle-semibold-font-style: normal;
  --subtle-semibold-font-weight: 700;
  --subtle-semibold-letter-spacing: 0px;
  --subtle-semibold-line-height: 129.99999523162842%;
  --tertiary: rgba(144, 202, 203, 1);
}
